<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Ticketguru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/TicketGuru/src/main/resources/static/css/style.css" th:href="@{/css/style.css}" /> <!-- add styles to style.css -->
    <script src="https://kit.fontawesome.com/3b4089212c.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>

    <script type="text/javascript" src="/TicketGuru/src/main/resources/static/scripts/configscript.js" th:src="@{/scripts/configscript.js}"></script>
    <script type="text/javascript" src="/TicketGuru/src/main/resources/static/scripts/sellscripts.js" th:src="@{/scripts/sellscripts.js}"></script>
    <script type="text/javascript" src="/TicketGuru/src/main/resources/static/scripts/checkticketscripts.js" th:src="@{/scripts/checkticketscripts.js}"></script>
    <script type="text/javascript" src="/TicketGuru/src/main/resources/static/scripts/addeventscripts.js" th:src="@{/scripts/addeventscripts.js}"></script>
</head>

<body>
     <!-- NAVIGATION BAR -->
    <nav>
        <h1><a th:href="@{/index}" class="navh1a">TicketGuru</a></h1>
        <ul>
            <a th:href="@{/logout}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Ulos</a>
            <a th:href="@{/login}"><i class="fa-solid fa-right-to-bracket"></i> Sisään</a>
            <a th:href="@{/index}"><i class="fa-solid fa-ticket"></i> Lipuntarkastus</a>
            <a th:href="@{/selltickets}"><i class="fa-solid fa-money-check-dollar"></i> Myy</a>
            <a th:href="@{/addevent}" sec:authorize="hasAuthority('ADMIN')"><i class="fa-solid fa-calendar-plus"></i> Tapahtuma</a>
            <a th:href="@{/addtickettype}" sec:authorize="hasAuthority('ADMIN')"><i class="fa-solid fa-square-plus"></i> Lipputyyppi</a>
        </ul>
    </nav>

	<div class="flexcontainercolumn">
		<h2>Lisää uusi tapahtuma</h2>
			<form id="event-form" onsubmit="processForm(event)">
		  		<label >Tapahtuman nimi: </label>
                <input class="textInput2" type="text" name="description" id="name" required>
                <label for="location">Paikka: </label>
                <input class="textInput2" type="text" name="location" id="location">
                <label for="city">Kaupunki: </label>
                <input class="textInput2" type="text" name="city" id="city">
                <label for="ticketcount">Lippujen määrä: </label>
                <input class="textInput2" type="number" name="ticketcount" id="ticketcount" value="">
                <label for="datetime">Tapahtuma-aika: </label>
                <input class="textInput2" type="datetime-local" name="datetime" id="datetime" value="">
                <label for="duration">Kesto minuutteina: </label>
                <input class="textInput2" type="number" name="duration" id="duration" value=""> <br />
                <input class="buttonSecondary" type="submit" value="Tallenna">
    		</form>
    		  <div>
                <h3 id="msg"></h3>
            </div>
	</div>
</body>
</html>