<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Ticketguru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/TicketGuru/src/main/resources/static/css/style.css" th:href="@{/css/style.css}" /> <!-- add styles to style.css -->
    <script src="https://kit.fontawesome.com/3b4089212c.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>

    <script type="text/javascript" src="/TicketGuru/src/main/resources/static/scripts/configscript.js" th:src="@{/scripts/configscript.js}"></script>
    <script type="text/javascript" src="/TicketGuru/src/main/resources/static/scripts/sellscripts.js" th:src="@{/scripts/sellscripts.js}"></script>
    <script type="text/javascript" src="/TicketGuru/src/main/resources/static/scripts/checkticketscripts.js" th:src="@{/scripts/checkticketscripts.js}"></script>
    <script type="text/javascript" src="/TicketGuru/src/main/resources/static/scripts/addtickettypescripts.js" th:src="@{/scripts/addtickettypescripts.js}"></script>
</head>

<body>
     <!-- NAVIGATION BAR -->
    <nav>
        <h1><a th:href="@{/index}" class="navh1a">TicketGuru</a></h1>
        <ul>
            <a th:href="@{/login}">Sign in</a>
            <a th:href="@{/logout}">Sign out</a>
            <a th:href="@{/index}">Check Ticket</a>
            <a th:href="@{/selltickets}">Sell Tickets</a>
            <a th:href="@{/addevent}" sec:authorize="hasAuthority('ADMIN')">Events</a>
            <a th:href="@{/addtickettype}" sec:authorize="hasAuthority('ADMIN')">Add Tickettypes</a>
        </ul>
    </nav>

	<div class="flexcontainercolumn">
            <h2>Lisää tapahtumaan lipputyyppi</h2>
            <form id="tickettype-form" onsubmit="processForm(event)">
            	<label for="event">Valitse tapahtuma:</label>
            	<select id="event" name="event" ></select>
                <label for="type">Lipputyyppi:</label>
                <input class="textInput2" type="text" name="name" id="name">
                <label for="price">Hinta:</label>
                <input class="textInput2" type="text" name="price" id="price" placeholder="€"><br>
                <input class="buttonSecondary" type="submit" value="Lisää">
            </form>
            <div>
                <h3 id="msg"></h3>
            </div>
	</div>
</body>
</html>